body{
    background-color: black;
    font-family: 'Yantramanav', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 30px;
    display: block;
    
}
.nav-profile{
    display: inline-block;
    margin-left: 20px;
    float: left;
}
#nav{
    display: inline;
    justify-content: right;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav{
    display: inline-block;
}
.top-nav{
    padding-left: 30px;
    text-align: center;
}
.top-nav-a{
    color: rgb(224, 224, 224);
    margin-right: 30px;
    font-weight: 500;
}
.top-nav a:hover{
    color: rgb(0, 0, 0);
}
.magic-button{
    display: inline-block;
    color:white;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 20px;
}
.profile-pic{
    border-radius: 50%;
}
  /* navigation border style start here */

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  /* 
  :root {
    --card-height: 40px;
    --card-width: calc(var(--card-height) / auto);
  }
*/
  .top-nav {
   /* background:black; */
   /* width: var(--card-width); 
    height: var(--card-height); */
    position: relative;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .top-nav::before {
    content: "";
    width: 104%;
    height: 104%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #a55400 43%, #c200b3);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 3s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
    /* navigation border style end here */

    /* magic slider */
    .switch input
    {
      display: none;
    }
    
    .switch 
    {
      display: inline-block;
      width: 40px;
      height: 20px;
      margin: 4px;
      transform: translateY(50%);
      position: relative;
    }
    
    .slider
    {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 30px;
      box-shadow: 0 0 0 2px #966eca, 0 0 4px #b36e59;
      cursor: pointer;
      border: 4px solid transparent;
      overflow: hidden;
      transition: 0.2s;
    }
    
    .slider:before
    {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: #777;
      border-radius: 30px;
      transform: translateX(-30px); /*translateX(-(w-h))*/
      transition: 0.2s;
    }
    
    input:checked + .slider:before
    {
      transform: translateX(30px); /*translateX(w-h)*/
      background-color: limeGreen;
    }
    
    input:checked + .slider
    {
      box-shadow: 0 0 0 2px limeGreen, 0 0 8px limeGreen;
    }
    
    .switch200 .slider:before
    {
      width: 200%;
      transform: translateX(-82px); /*translateX(-(w-h))*/
    }
    
    .switch200 input:checked + .slider:before
    {
      background-color: red;
    }
    
    .switch200 input:checked + .slider
    {
      box-shadow: 0 0 0 2px red, 0 0 8px red;
    }
    